.home {

  .homeContent {
    background: linear-gradient(115deg, $color-1 50%, $color-5 100%);
    min-height: $minHeight;
    width: 100%;
    min-height: 500px;
    border-radius: $borderRadius;
    position: relative;
    overflow: hidden;
    display: flex;
    
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: inherit;
      z-index: -1;
      filter: brightness(30%);
    }

    .content {
      position: absolute;
      top: 20%;
      left: 13%;
      font-family: $font-1;
      i{
        color: $color-5;
      }
      span {
        margin-left: 1.5rem;
        font-family: $font-4,'bold';
        font: weight 1000px;;
        color: $color-3;
        padding: 0.5rem rem 7rem;

    }

      h1 {
        font-size: 4rem;
        font-family:$font-4;
        color: $color-5;
      }
     
      
      grid-area: 3;
      ul{
        height: 100%;
        display: grid;
        li{
            padding: 1rem 0 1rem .4rem;
            font-size:1.3rem;
            position: relative;
        }
      }
      .logo{
        display: flex;
      }
      .cv {
        a {
          font-size: 1.5rem;
          background: $color-3;
          padding: 1rem 2rem;
          border-radius: $borderRadius;
          box-shadow: 0 5px 1px rgb(15, 15, 15);
          transition: 0.2s ease;

          &:hover {
            background: $color-4;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px){
  .homeContent {
    margin: 0 !important;
  }
}
@media screen and (max-width:580px){
  .homeContent {
    
    
    h1 {
      font-size: 3rem !important;
    }
    h2 {
      font-size: 1.8rem !important;
    }
  }
}