.khowledges {

     .khowledgesContent{
      min-height: $minHeight;
      width: 100%;
      position: relative;
      overflow: hidden;
      display: grid;
      grid-template-columns: 38% 1fr 1fr;
      grid-template-rows: 45% 15%;
      grid-template-areas: 
        "L F F"
        "O O H";
        .technicalCmp,.formation,.otherSkills,.hobbies{
          background: linear-gradient(115deg, $color-1 50%, $color-4 100%);
          border-radius: $borderRadius;
           padding: .8rem;
         }
     
     
     h3{
       font-size: 1.4rem;
       margin-bottom: 1rem;
       font-family: $font-4;
       color: $color-5;
       text-transform:uppercase ;
     }
     .technicalCmp{
       grid-area: L;
       margin-bottom: .5rem;
       display: grid;
       grid-template-columns:1fr;
       grid-template-rows: 1fr 1fr;
       
       
        h3{
          margin-bottom: .3rem;
        }
        .years{
          font-size: .65rem;
          display: flex;
          justify-content: space-between;
          color: $color-3;
          span{
            width: 36%;
            &:nth-child(2){
              text-align: right;
              width: 20%;
            }
            &:nth-child(3){
              text-align: right;
              width: 44%;
            }
            &:nth-child(2):before,
            &:nth-child(3):before{
              content: '';
              background: rgba(180,179,179,0.5);
              position: absolute;
              height: 150px;
              width: 1px;
              transform: translate(9px,30px);
            }
          }
          
        }
        .technicalList{
          padding-top:.5rem ;
          li{
            color: $color-5;
          }
          .progressBar{
            height: .4rem;
            background: transparent;
            border-radius: 50px;
            margin-top: .2rem;
            position: relative;
            &:after{
              position: absolute;
              content: '';
              background: $color-3;
              border-radius: 50px;
              height: .4rem;
              width: 0;
              animation: line 2s ease-out forwards;
              @keyframes line {
                to {
                  width: 100%;
                }
                
              }

            }
          }
        }
      
       }  
       .formation {
        grid-area: F;
        margin: 0 0 .5rem .5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 1fr 1fr;
        grid-template-areas: 
          "1"
          "2"
          "3";
        
        h3 {
          grid-area: 1;
        }
        h4 {
          font-size: 1.1rem;
          color: $color-5;
        }
        h5 {
          color: $color-3;
          padding: 0.5rem 0 0.5rem 1rem;
        }
        p {
          text-align: justify;
          padding: 0 1rem;
        }
        .f-1 {
          grid-area: 2;
        }
        .f-2 {
          grid-area: 3;
        }
      }
      .otherSkills {
        grid-area: O;
        margin-right: 0.5rem;
  
        .list {
          display: flex;
          width: 80%;
          height: 100%;
          margin: 0 auto;
          justify-content: space-between;
  
          ul {
            height: 80%;
            display: grid;
  
            i {
              color: $color-5;
            }
          }
        }
      }
      .hobbies {
        grid-area: H;
        padding-left: 1.5rem;
  
        ul {
          height: 80%;
          display: grid;
  
          li {
            i {
              position: absolute;
              color: $color-5;
            }
            span {
              position: absolute;
              transform: translateX(2.2rem);
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 950px){
    .knowledgesContent {
      h3 {
        font-size: 1.2rem !important;
      }
      .languagesList {
        padding-top: .2rem !important;
      }
      p {
        font-size: .8rem;
      }
      .otherSkills, .hobbies {
        font-size: .8rem;
      }
    }
  }
  @media screen and (max-width: 850px){
    .knowledgesContent {
      h4 {
        font-size: .9rem !important;
      }
      h5 {
        font-size: .6rem !important;
        padding: .2rem 1rem !important;
      }
    }
  }
  @media screen and (max-width: 500px){
    .knowledgesContent {
      display: grid !important;
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr 1fr 180px 180px !important;
      
      .technicalCmp {
        grid-area: 1 !important;
      }
      .formation {
        grid-area: 2 !important;
        margin-left: 0 !important;
      }
      .otherSkills {
        grid-area: 3 !important;
        margin-right: 0 !important;
      }
      .hobbies {
        grid-area: 4 !important;
        margin-top: .5rem !important;
      }
    }
}


