@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&family=Lato:ital,wght@1,100;1,300&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
$font-1:'Lato', serif ;
$font-2:'Josefin Sans', sans-serif ;
$font-3:'Pacifico', serif ;
$font-4:'Lato',bold, serif, ;
$font-5:'Slabo',serif;
$color-1:#e9d9cc;
$color-2: #dc9da8;
$color-3 : #c87089;
$color-4: #e0a3ab;
$color-5: #895b78;

$white:#ddd;
$black: #333 ;

$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight:95vh;

@mixin verticalCenter{
    display : flex;
    justify-content: center;
    align-items: center;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin :1rem auto;
    padding: 0;
    max-width: 1200px;
    font-family:$font-1;
    color: $black;

}
button{
    cursor : pointer;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none ;
    color:$black;
    cursor: pointer;
}
a:visited{
    color : $black;
}

.home,.khowledges,.portfolio,.contact{
    display: flex;
    @media screen and (max-width:850px){
        display: block !important;
    }
}
.homeContent,.khowledgesContent,.portfolioContent,.contactContent{
    margin-left: .4rem;
    @media screen and (max-width:850px){
        margin-left: 0 !important;
    }
}